.banner
    .banner__img-left
    .banner__info
        .banner__info-title Bonus na prvi #[br] #[span depozit]
        ul.banner__info-list
            li.banner__info-item
                .banner__info-item-top 100%
                .banner__info-item-bottom BONUSA NA PRVI #[br] DEPOZIT do 700€
            li.banner__info-item
                img(src='img/plus.svg' alt='plus')
            li.banner__info-item
                .banner__info-item-top 30€
                .banner__info-item-bottom RISK-FREE BET
            li.banner__info-item
                img(src='img/plus.svg' alt='plus')
            li.banner__info-item
                .banner__info-item-top 200
                .banner__info-item-bottom BESPLATNIH #[br] VRTNJI

    .banner__img-right
    .banner__marquee
        .banner__marquee-text 100% BONUSA NA PRVI DEPOZIT do 700 EUR (5274,15kn)
        .banner__marquee-plus
        .banner__marquee-text 200 BESPLATNIH VRTNJI
        .banner__marquee-plus
        .banner__marquee-text RISK-FREE BET 30 EUR (226,04kn)
        .banner__marquee-plus
        .banner__marquee-text 100% BONUSA NA PRVI DEPOZIT do 700 EUR (5274,15kn)
        .banner__marquee-plus
        .banner__marquee-text 200 BESPLATNIH VRTNJI
        .banner__marquee-plus
        .banner__marquee-text RISK-FREE BET 30 EUR (226,04kn)
        .banner__marquee-plus
        .banner__marquee-text 100% BONUSA NA PRVI DEPOZIT do 700 EUR (5274,15kn)
        .banner__marquee-plus
        .banner__marquee-text 200 BESPLATNIH VRTNJI
        .banner__marquee-plus
        .banner__marquee-text RISK-FREE BET 30 EUR (226,04kn)
        .banner__marquee-plus
        .banner__marquee-text 100% BONUSA NA PRVI DEPOZIT do 700 EUR (5274,15kn)
        .banner__marquee-plus
        .banner__marquee-text 200 BESPLATNIH VRTNJI
        .banner__marquee-plus
        .banner__marquee-text RISK-FREE BET 30 EUR (226,04kn)
        .banner__marquee-plus
        .banner__marquee-text 100% BONUSA NA PRVI DEPOZIT do 700 EUR (5274,15kn)
        .banner__marquee-plus
        .banner__marquee-text 200 BESPLATNIH VRTNJI
        .banner__marquee-plus
        .banner__marquee-text RISK-FREE BET 30 EUR (226,04kn)
        .banner__marquee-plus
        .banner__marquee-text 100% BONUSA NA PRVI DEPOZIT do 700 EUR (5274,15kn)
        .banner__marquee-plus
        .banner__marquee-text 200 BESPLATNIH VRTNJI
        .banner__marquee-plus
        .banner__marquee-text RISK-FREE BET 30 EUR (226,04kn)







